.theme {
	width:100px;
	height:40px;
	position: relative;
	display: block;
	background: var(--body_background);
	border-radius: 200px;
	box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
	cursor: pointer;
	transition: 0.5s;
}
.theme:after {
	content: "";
	width:30px;
	height: 30px;
	position: absolute;
	top:5px;
	left:8px;
	background: linear-gradient(180deg,#ffcc89,#d8860b);
	border-radius: 180px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	transition: 0.5s;
}
.theme-input {
	width: 0;
	height: 0;
	visibility: hidden;
}
.theme-input:checked + label {
	background: #242424;
}
.theme-input:checked + label:after {
	left:95px;
	transform: translateX(-100%);
	background: linear-gradient(180deg,#777,#3a3a3a);
}
.theme:active:after{
	width: 80px;
}
.background {
	width:100vw;
	height: 100vh;
	background: #fff;
	z-index: -1;
	position: absolute;
	transition: 0.5s;
}
.theme:checked + .theme + .background {
	background:#242424;
}
.theme svg {
	position: absolute;
	width: 20px;
	top:10px;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0);
}
.theme svg.sun {
	left:12px;
	fill:#fff;
	transition: 0.5s;
}
.theme svg.moon {
	left:70px;
	fill:#7e7e7e00;
	transition: 0.5s;
}
.theme-input:checked + .theme svg.sun {
	fill:#7e7e7e;
}
.theme-input:checked + .theme svg.moon {
	fill:#fff;
}


@media (max-width: 575.98px) {
	.theme{
		width: 45px;
	}

	.theme svg.moon {
		left: 12px;
	}

	.theme-input:checked + label:after {
		top: 6px;
		left: 37px;
	}

	.theme:active:after {
		width: 0;
	}

  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
	.theme{
		width: 45px;
	}

	.theme svg.moon {
		left: 12px;
	}

	.theme-input:checked + label:after {
		top: 6px;
		left: 37px;
	}

	.theme:active:after {
		width: 0;
	}
  }
 



