/* ViewBill.css */

.table-responsive {
    margin-top: 20px; /* Added for spacing */
}

.download-csv-container {
    margin-top: 20px;
    text-align: center;
}

.table th, .table td {
    text-align: center;
}
