.container {
    margin-top: 30px;
}

.table-container {
    margin-top: 20px;
}

.extra {
    height: 50px;
}

.table th, .table td {
    vertical-align: middle;
}

.table-actions {
    display: flex;
    justify-content: center;
}

.spinner-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
