.navbar {
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand h2 {
  color: #007BFF;
}

.navbar-brand h4 {
  color: #6c757d;
}

.navbar-nav .nav-item .btn {
  margin-right: 10px;
}

.dropdown-menu {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

.dropdown-item-text {
  padding: 10px 20px;
  color: #343a40;
  font-weight: 500;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.navbar-toggler-icon {
  color: #007BFF;
}

@media (max-width: 992px) {
  .navbar-nav .nav-item .btn {
      width: 100%;
      text-align: left;
  }
}
